*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* ---------------- Color styling -------------------*/
:root {
  --main-bg-color: #f1f1f1;
  --text-color: #252525;
  --shadow-color: #25252533;
  --accent-color1: #12664f;
  --accent-color2: #62a8ac;
}
/* ---------------- General styling -------------------*/
.page-container {
  margin: 0 10%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: poppins, sans-serif;
  background-color: var(--main-bg-color);
}
/* ---------------- Styling base -------------------*/
.main-nav {
  font-size: 2rem;
  text-align: center;
  height: 10vh;
  line-height: 10vh;
  background-color: var(--accent-color1);
  display: flex;
  flex-direction: row;
}
.navbar-menu {
  margin: auto;
}
.logo {
  margin-left: 2rem;
  color: var(--main-bg-color);
}
.main-nav a {
  text-decoration: none;
  color: var(--main-bg-color);
  padding: 0 2rem;
}
.navbar-submenu {
  text-align: center;
  background-color: #1e775f;
}
.navbar-submenu a {
  text-decoration: none;
  color: var(--main-bg-color);
  height: 5vh;
  line-height: 5vh;
  padding: 0 1.5rem;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 3em;
  background-color: var(--accent-color1);
  color: var(--main-bg-color);
  margin-top: auto 0;
}
footer a {
  text-decoration: none;
  color: var(--main-bg-color);
  margin-left: 0.75rem;
}
footer p {
  margin-top: 0.2rem;
  font-size: 0.7rem;
}
/* ----------------- Styling index ----------------*/
.home-container {
  background-image: url("images/backround.webp");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.home-section {
  background-color: var(--main-bg-color);
  border-left: 2px solid var(--accent-color1);
  box-shadow: 0 0 10px 0 var(--shadow-color);
  border-right: 2px solid var(--accent-color1);
  box-shadow: 0 0 10px 0 var(--shadow-color);
  text-align: center;
  width: 75%;
  padding: 2rem;
  flex: 1;
}
.home-section h1 {
  font-size: 3.5rem;
  padding-top: 3rem;
}
.home-section p {
  font-size: 1.3rem;
  padding-top: 1.5rem;
  line-height: 1.7rem;
  width: 75%;
  text-align: left;
}
.home-section h2 {
  font-size: 2.5rem;
  padding-top: 1.5rem;
}
.info-container {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-container {
  display: flex;
  margin-top: 5rem;
  height: 3em;
  justify-content: center;
}
.btn-container a {
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.5rem;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: 8px;
  margin: 0 0.6rem;
  background-color: var(--accent-color2);
}

.route-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
/*--------team container_ Our team----------*/
.team-container {
  background: url("/static/images/team-bg.jpg") center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.team-container h2 {
  margin-top: 70px;
  font-size: 3em;
  font-weight: normal;
  border-radius: 5px;
}
.team-info {
  margin-top: 80px;
  width: 70%;
  height: 370px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.card {
  background: linear-gradient(rgb(31, 196, 89), rgb(55, 107, 86));
  box-shadow: 0 0 20px 0;
  width: 17%;
  height: 95%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.card h4 {
  margin-top: 8px;
}
.card p {
  margin-top: 2px;
  font-size: 0.9em;
}
.quote {
  margin-top: 22px;
  display: flex;
  justify-content: center;
  font-style: italic;
  font-size: 0.9em;
  color: #042108;
}
.card i {
  font-size: 1.8em;
  color: rgba(0, 0, 0, 0.564);
}
.card i:hover {
  color: #bdf4c2;
}
.card-image {
  width: 95%;
  height: 55%;
  margin-top: 5px;
}
.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1.5px solid rgba(8, 135, 57, 0.566);
}
/* --------Mobile-Specific Styles___Our team ----------*/
@media (max-width: 767px) {
  .team-container {
    align-items: center;
  }
  .team-container h2 {
    font-size: 2em; 
    margin-top: 20px;
  }

  .team-info {
    flex-direction: column; 
    width: 100%; 
    height: auto;
    margin-top: 20px; 
  }

  .card {
    width: 80%; 
    height: auto; 
    margin-bottom: 20px; 
  }

  .card h4, .card p, .quote {
    padding: 0 10px; 
  }

  .card-image {
    height: auto; 
  }

  .card-image img {
    object-fit: contain; 
  }
}

/*-------about ------*/
.about-container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}

.about-container article {
  float: left;
  width: 40%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; 
}
.about-container h1 {
  font-size: 3.5em; 
  margin: 30px 0 15px 0;
  text-align: left;
  width: 91%; 
}
.about-container p {
  font-size: 1.4em; 
  width: 90%; 
}
.about-container aside {
  float: right;
  width: 55%; 
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-container aside img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
  border-left: 3px solid var(--accent-color1); 
}

/* -------About_____Mobile enheter ---------*/
@media (max-width: 767px) {
  .about-container {
    flex-direction: column; 
    align-items: center;
  }

  .about-container article,
  .about-container aside {
    width: 100%; 
    float: none;
  }

  .about-container article {
    padding: 10px; 
  }

  .about-container h1 {
    font-size: 2em; 
    text-align: center;
    margin: 10px 0; 
  }

  .about-container p {
    font-size: 1em; 
    padding: 0 5%;
    text-align: justify;
  }

  .about-container aside img {
    object-position: center; 
    height: auto;
    border: none;
  }
}

/*_____kontakt___container____*/
.kontakt-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}
.kontakt-rubrik {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5em;
}
.kontakt-info {
  border-top: 10px solid var(--accent-color1);
  border-left: 6.5px solid var(--accent-color1);
  border-right: 6.5px solid var(--accent-color1);
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
}
.kontakt-info h4 {
  margin-bottom: 10px;
}
.kontakt-info p {
  margin-bottom: 3px;
  max-width: 400px;
}
/*___________kontakt____mobile_______*/
@media (max-width: 767px) {
  .kontakt-rubrik {
    font-size: 1.5em;
  }

  .kontakt-info {
    flex-direction: column; 
    height: auto;
  }

  .kontakt-info h4,
  .kontakt-info p {
    text-align: center;
    padding: 5px; 
  }
}


/* ----------------- General info page styling  ----------------*/

.info-page-container {
  background-image: url("/static/images/backround.webp");
  color: var(--text-color);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.info-section {
  background-color: var(--main-bg-color);
  border-left: 2px solid var(--accent-color1);
  box-shadow: 0 0 10px 0 var(--shadow-color);
  border-right: 2px solid var(--accent-color1);
  box-shadow: 0 0 10px 0 var(--shadow-color);
  text-align: center;
  width: 75%;
  padding: 2.5rem;
  flex: 1;
}

.info-section h1 {
  font-size: 2.3rem;
  font-weight: 800;
}

.info-container h2 {
  font-size: 1.4rem;
  font-weight: 600;
}
.info-container p {
  font-size: 1.1rem;
  font-weight: 450;
  padding-top: 1.5rem;
  line-height: 1.7rem;
  width: 75%;
  text-align: left;
}




/* ----------------- vitamin sida ----------------*/
.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-top: 2rem;
}

.nutrition-info, .RDI-info table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.nutrition-info th, .nutrition-info td,
.RDI-info th, .RDI-info td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
.nutrition-info p,
.RDI-info p{
  font-size: 0.7rem;
  line-height: 1rem;
}

.table-container
{
  display: flex;
  flex-direction: row;
  width: 80%;
  
}

.table-container table
{
  width: 100%;
}

.table-container td, .table-container th
{
  text-align: center;
}

.container
{
  width: 45%;
}