*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* ---------------- Color styling -------------------*/
:root{
    --main-bg-color:#F2E8CF;
    --text-color:rgb(10,10,10);
    --accent-color1:#6A994E;
    --accent-color2:#C9696B;
}
/* ---------------- General styling -------------------*/
.page-container{
    margin: 0 10%;
}
body{
    font-family: poppins, sans-serif;
    background-color: var(--main-bg-color);
}
/* ---------------- Styling base -------------------*/
.main-nav {
    font-size: 2rem;
    text-align: center;
    height: 10vh;
    line-height: 10vh;
    background-color: var(--accent-color1);
    display: flex;
    flex-direction: row;
}
.navbar-menu{
    margin: auto;
}
.logo{
    margin-left: 2rem;
}
.main-nav a{
    text-decoration: none;
    color: black;
    padding: 0 2rem;
}
footer{
    text-align: center;
    height: 10vh;
    line-height: 5vh;
    background-color: var(--accent-color1);
}
footer a{
    color: var(--text-color);
    text-decoration: none;
    margin: 0 10px;
    padding: 10px;
    font-size: 1.2rem;
}
/* ----------------- Styling index ----------------*/

.home-section {
    padding-top: 2rem;
    text-align: center;
    height: 80vh;
}
.home-section h1{
    font-size: 3rem;
    padding-top: 3rem;
}
.home-section p{
    font-size: 1.5rem;
    padding-top: 1.5rem;
    line-height: 1.7rem;
}
.home-section h2{
    font-size: 2rem;
    padding-top: 1.5rem;
}

.btn-container{
    margin-top: 3rem;
}
.btn-container a{
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.5rem;
    color: black;
    border: 1px solid black;
    border-radius: 8px;
    margin: 0 0.6rem;
    background-color: var(--accent-color2);
}