*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* ---------------- Color styling -------------------*/
:root{
    --main-bg-color:#F1F1F1;
    --text-color:#252525;
    --accent-color1:#12664F;
    --accent-color2:#62A8AC;
}
/* ---------------- General styling -------------------*/
.page-container{
    margin: 0 10%;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: poppins, sans-serif;
    background-color: var(--main-bg-color);
}
/* ---------------- Styling base -------------------*/
.main-nav {
    font-size: 2rem;
    text-align: center;
    height: 10vh;
    line-height: 10vh;
    background-color: var(--accent-color1);
    display: flex;
    flex-direction: row;
}
.navbar-menu{
    margin: auto;
}
.logo{
    margin-left: 2rem;
    color: var(--main-bg-color);
}
.main-nav a{
    text-decoration: none;
    color: var(--main-bg-color);
    padding: 0 2rem;
}
.navbar-submenu{
    text-align: center;
    background-color: #1e775f;
}
.navbar-submenu a{
    text-decoration: none;
    color: var(--main-bg-color);
    height: 5vh;
    line-height: 5vh;
    padding: 0 1.5rem;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 3em;
    background-color: var(--accent-color1);
    color: var(--main-bg-color);
    margin-top: auto 0;
}
footer a {
    text-decoration: none;
    color: var(--main-bg-color);
    margin-left: 0.75rem;
}
footer p {
    margin-top: 0.2rem;
    font-size: 0.7rem;
}
/* ----------------- Styling index ----------------*/
.home-container{
    background-image: url("images/backround.webp");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.home-section {
    background-color: white;
    border-left: 2px solid #126650a5;
    border-right: 2px solid #126650a5;
    text-align: center;
    width: 75%;
    padding: 2rem;
    flex: 1;
}
.home-section h1{
    font-size: 3.5rem;
    padding-top: 3rem;
}
.home-section p{
    font-size: 1.3rem;
    padding-top: 1.5rem;
    line-height: 1.7rem;
    width: 75%;
    text-align: left;
}
.home-section h2{
    font-size: 2.5rem;
    padding-top: 1.5rem;
}
.info-container {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-container{
    display: flex;
    margin-top: 5rem;
    height: 3em;
    justify-content: center;
}
.btn-container a{
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.5rem;
    color: black;
    border: 1px solid black;
    border-radius: 8px;
    margin: 0 0.6rem;
    background-color: var(--accent-color2);
}
.route-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.team-container {
    background: url("/static/images/team-bg.jpg") center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.team-container h2 {
    margin-top: 70px;
    font-size: 3em;
    font-weight: normal;
    border-radius: 5px;
}
.team-info {
    margin-top: 80px;
    width: 70%;
    height: 370px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.card {
    background: linear-gradient(rgb(31, 196, 89),rgb(55, 107, 86));
    box-shadow: 0 0 20px 0;
    width: 17%;
    height: 95%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.card h4 {
    margin-top: 8px;
}
.card p {
    margin-top: 2px;
    font-size: 0.9em;
}
.quote {
    margin-top: 22px;
    display: flex;
    justify-content: center;
    font-style: italic;
    font-size: 0.9em;
    color: #042108;
}
.card i {
    font-size: 1.8em;
    color: rgba(0, 0, 0, 0.564);
}
.card i:hover {
    color: #bdf4c2;
}
.card-image {
    width: 95%;
    height: 55%;
    margin-top: 5px;
}
.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1.5px solid rgba(8, 135, 57, 0.566);
}
.about-container {
    display: flex;
    flex: 1;
    justify-content: space-between;
}
.about-container article {
    float: left;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.about-container h1 {
    font-size: 3.5em;
    margin: 30px 0 15px 0;
    text-align: left;
    width: 91%;
}
.about-container p {
    font-size: 1.4em;
    width: 90%;
}
.about-container aside {
    float: right;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-container aside img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    border-left: 3px solid var(--accent-color1);
}
.kontakt-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}
.kontakt-container h1 {
    font-size: 10em;
    margin-top: 10%;
}
.kontakt-info {
    border-top: 10px solid var(--accent-color1);
    border-left: 5px solid var(--accent-color1);
    border-right: 5px solid var(--accent-color1);
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}
.kontakt-info h4 {
    margin-bottom: 10px;
}
.kontakt-info p {
    margin-bottom: 3px;
    max-width: 400px;
}