{% extends "base.html"%}

{% block title %}Om oss{% endblock %}

{% block content %}
<section class="about-container">
    <article>
        <h1>Vilka är vi?</h1>
        <p>
            Vi är grupp 3 från Jensens yrkeshögskola, och vi har som mål att skapa en informativ hemsida om näring,
            vitaminer och mineraler man kan få i sig genom att äta grönsaker och frukter.
            Vi brinner för en hälsosam livsstil och tror på att kost spelar en avgörande roll för vårt välmående.
        </p><br>
        <p>
            Genom vår hemsida vill vi ge dig en lättillgänglig resurs där du kan lära dig mer om hur olika grönsaker och frukter kan bidra till din kost.
            Vi presenterar information om näringsinnehållet i olika livsmedel.
        </p><br>
        <p>
            Vår ambition är att skapa en användarvänlig och informativ hemsida som kan inspirera och motivera dig att göra hälsosamma matval.
        </p><br>
        <p>Fakta om vitaminer, mineraler  och RDI på vår sida är baserad på fakta från Livsmedelsverket. Tabeller med
             frukt och grönsaker och deras näringsinnehåll kommer från Livsmedelsverkets livsmedelsdatabas version 2023-06-13. 
             Bild under sökfunktion hämtar data från Wikipedia genom Wikipedia API. Faktatext under sökfunktion är genererad av Chat GPT.</p>
    </article>
    <aside>
        <img src="/static/images/Nutrition-2.jpg">
    </aside>
</section>
{% endblock %}