{% extends "base.html"%} 
{% block title %}{{mineral}}{% endblock %}

{% block navbar_submenu %}
<div class="navbar-submenu">
  {% for item in minerals %}
  <a href="/mineraler/{{ item }}"> {{ item }} </a>
  {% endfor %}
</div>
{% endblock %} 

{% block content %}
<main class="info-page-container">
  <!--reusing info-container class to have same styling-->
  <section class="info-section">
    <!--reusing home section class to have same styling-->
    <h1>{{mineral}}</h1>

    <div class="info-container">
      <!--reusing info-container class to have same styling-->
      <h2>Coming soon!</h2>
      <p> Här kommer du kunna läsa mer info om {{mineral}}.    
      </p>
    </div>
  </section>
</main>
{% endblock %}
