{% extends "base.html"%}

{% block title %}mineraler{% endblock %}

{% block navbar_submenu %}
<div class="navbar-submenu">
    <a href="#">Mineral 1</a>
    <a href="#">Mineral 2</a>
    <a href="#">Mineral 3</a>
    <a href="#">Mineral 4</a>
    <a href="#">Mineral 5</a>
    <a href="#">Mineral 6</a>
    <a href="#">Mineral 7</a>
    <a href="#">Mineral 8</a>
    <a href="#">Mineral 9</a>
    <a href="#">Mineral 10</a>
</div>
{% endblock %}


{% block content %}
<div class="route-container">
    <h1>Under Development!</h1>
</div>
{% endblock %}