{% extends "base.html"%} 
{% block title %}{{mineral ["name"]}}{% endblock %}

{% block navbar_submenu %}
<div class="navbar-submenu">
  {% for item in minerals %}
  <a href="/mineraler/{{ item }}"> {{ item }} </a>
  {% endfor %}
</div>
{% endblock %} 

{% block content %}
<main class="info-page-container">
  <!--reusing info-container class to have same styling-->
  <section class="info-section">
    <!--reusing home section class to have same styling-->
    <h1>{{mineral ["name"]}}</h1>

    <div class="info-container">
      <!--reusing info-container class to have same styling-->
      {# 
        <p> {{mineral["info"] }}</p>
        <p>{{ mineral["info1"] }}</p>
        <p>{{ mineral["info2"] }}</p>
        <p>{{ mineral["info3"] }}</p>
        {% if mineral["info4"] %}
        <p>{{ mineral["info4"] }}</p>
        {% endif %}
        #}

      {% for key in mineral %}
      {% if key!="name" %}
      <p> {{mineral[key]}} </p>
      {% endif %}{% endfor %}

      <div class="table-container">
        
        <div class="container">
          <h2>Topp 10 frukt/grönsaker</h2>
          <h2>{{ mineral["name"]}} per 100g</h2>
          <div class="nutrition-info">
            <table>
              <thead>
                <tr>
                  <th>Livsmedel</th>
                  {% if mineral["name"] in ["Fosfor", "Järn", "Kalcium", "Kalium", "Magnesium", "Natrium", "Zink"]%}
                    <th>{{ mineral["name"] }} (mg)</th>
                  {% elif mineral["name"] in ["Jod", "Selen"]%}
                    <th>{{ mineral["name"] }} (mikrogram)</th>
                  {% endif %}
                </tr>
              </thead>
              <tbody>
              {% for fruit in top_fruits %}
                {% if mineral["name"] == "Fosfor" %}
                  <tr>
                    <td><a href="/{{fruit.Namn}}">{{ fruit.Namn }}</a></td>
                    <td>{{ fruit.Fosfor_mg }}</td>
                  </tr>                
                {% elif mineral["name"] == "Jod" %}
                  <tr>
                    <td><a href="/{{fruit.Namn}}">{{ fruit.Namn }}</a></td>
                    <td>{{ fruit.Jod_mikrog }}</td>
                  </tr>
                {% elif mineral["name"] == "Järn" %}
                  <tr>
                    <td><a href="/{{fruit.Namn}}">{{ fruit.Namn }}</a></td>
                    <td>{{ fruit.Järn_mg }}</td>
                  </tr>
                {% elif mineral["name"] == "Kalcium" %}
                  <tr>
                    <td><a href="/{{fruit.Namn}}">{{ fruit.Namn }}</a></td>
                    <td>{{ fruit.Kalcium_mg }}</td>
                  </tr>
                {% elif mineral["name"] == "Kalium" %}
                  <tr>
                    <td><a href="/{{fruit.Namn}}">{{ fruit.Namn }}</a></td>
                    <td>{{ fruit.Kalium_mg }}</td>
                  </tr>
                {% elif mineral["name"] == "Magnesium" %}
                  <tr>
                    <td><a href="/{{fruit.Namn}}">{{ fruit.Namn }}</a></td>
                    <td>{{ fruit.Magnesium_mg }}</td>
                  </tr>
                {% elif mineral["name"] == "Natrium" %}
                  <tr>
                    <td><a href="/{{fruit.Namn}}">{{ fruit.Namn }}</a></td>
                    <td>{{ fruit.Natrium_mg }}</td>
                  </tr>
                {% elif mineral["name"] == "Selen" %}
                  <tr>
                    <td><a href="/{{fruit.Namn}}">{{ fruit.Namn }}</a></td>
                    <td>{{ fruit.Selen_mikrog }}</td>
                  </tr>
                {% elif mineral["name"] == "Zink" %}
                  <tr>
                    <td><a href="/{{fruit.Namn}}">{{ fruit.Namn }}</a></td>
                    <td>{{ fruit.Zink_mg }}</td>
                  </tr>
                {% endif %}
              {% endfor %}
              </tbody>
            </table>
            <p>*Källa; Livsmedelsverkets livsmedelsdatabas version 2023-06-13</p>
          </div>
        </div>
        
        <div class="container">
          <h2>RDI</h2>
          <div class="RDI-info">
            <table>
              <thead>
                <th>Målgrupp</th>
                <th> {{ mineral_RDI['rek'] }} </th>
              </thead>
              <tbody>
                {% for key in mineral_RDI['target'] %}
                <tr>
                  <td> {{key}} </td>
                  <td> {{mineral_RDI['target'][key]}}  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        
        </div>
        
      </div class="table-container">

  </section>
</main>
{% endblock %}
