{% extends "base.html"%}

{% block title %}find{% endblock %}

{% block content %}
<div class="info-page-container">
    <div class="home-section" id="home-search">
        <div class="input-container">
            <form action="/search" method="GET">
                <input type="search" placeholder="Sök igenom vår databas" name="search">
            </form>
        </div>
        {% if results %}
            <section class="search-section">          
                <article class="info-article">
                    <h1>{{ query_name }}</h2>
                    <img src="{{ api_image }}">
                    <div class="api-info">
                        <p><strong>Fakta: </strong>{{ api_summary }}</p>
                    </div>
                </article>
                <article class="table-article">
                    <div class="table-container">
                        <div class="container-search">
                            <div class="nutrition-info">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Vitamin/Mineral</th>
                                            <th>per 100(mikrog)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for nutrient, values in results.items() %}
                                            <tr>
                                                <td>{{ nutrient }}</td>
                                                <td>
                                                    {% for value in values %}
                                                        {{ value }}<br>
                                                    {% endfor %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
        {% elif message %}
            <div id="default-section">       
                <h2>{{ message }}</h2>            
            </div>
        {% endif %}
        {% if not results and not message %}
            <div id="default-section">
                <h2>Sök igenom vår databas genom att söka på en frukt eller grönsak!</h2>
                <p>Genom att använda sökrutan kan du snabbt och enkelt få mer detaljerad information om frukt och grönt från vår omfattande databas. Skriv in namnet på den frukt eller grönsak du är intresserad av, och du kommer att få tillgång till detaljerade fakta, näringsvärden.</p>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}