{% extends "base.html"%}

{% block title %}Our Team{% endblock %}

{% block content %}
<div class="team-container">
    <h2>Meet the team!</h2>
    <div class="team-info">
        <div class="card">
            <div class="card-image">
                <img src="/static/images/male.png">
                <h4>Rami Aldelemi</h4>
                <p>Student</p>
                <div class="brands">
                    <a href="https://www.instagram.com/ramiieh/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.facebook.com/rami.aldelemi" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                    <a href="mailto:rammi.aldelemi91@gmail.com"><i class="fa-solid fa-envelope"></i></a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="/static/images/female.png">
                <h4>Marie Bayard</h4>
                <p>Student</p>
                <div class="brands">
                    <a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-solid fa-envelope"></i></a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="/static/images/male.png">
                <h4>Juaquin Luyo</h4>
                <p>Student</p>
                <div class="brands">
                    <a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-solid fa-envelope"></i></a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="/static/images/female.png">
                <h4>Linda Fogli</h4>
                <p>Student</p>
                <div class="brands">
                    <a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-solid fa-envelope"></i></a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="/static/images/male.png">
                <h4>Jose Alvarez Crespo</h4>
                <p>Student</p>
                <div class="brands">
                    <a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-solid fa-envelope"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}