{% extends "base.html"%}

{% block title %}Our Team{% endblock %}

{% block content %}
<div class="team-container">
    <h2>Möt vår team</h2>
    <div class="team-info">
        <div class="card">
            <div class="card-image">
                <img src="/static/images/male.png">
                <h4>Rami Aldelemi</h4>
                <p>Student</p>
                <div class="quote">
                    <p>"Det ska vara kvalitét inte kvantitet"</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="/static/images/female.png">
                <h4>Marie Bayard</h4>
                <p>Student</p>
                <div class="quote">
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="/static/images/male.png">
                <h4>Juaquin Luyo</h4>
                <p>Student</p>
                <div class="quote">
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="/static/images/female.png">
                <h4>Linda Fogli</h4>
                <p>Student</p>
                <div class="quote">
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="/static/images/male.png">
                <h4>Jose Alvarez Crespo</h4>
                <p>Student</p>
                <div class="quote">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}