{% extends "base.html"%}

{% block title %}{% endblock %} {# Dynamic title from python #}

{% block navbar_submenu %}
<div class="navbar-submenu">
    <a href="#">Vitamin A</a>
    <a href="#">Vitamin C</a>
    <a href="#">Vitamin D</a>
    <a href="#">Vitamin E</a>
    <a href="#">Folat</a>
    <a href="#">Vitamin K</a>
    <a href="#">Niancin</a>
    <a href="#">Riboflavin</a>
    <a href="#">Tiamin</a>
    <a href="#">Vitamin B6</a>
    <a href="#">Vitamin B12</a>
</div>
{% endblock %}

{% block content %}
<div class="route-container">
    <h1>Under Development!</h1>
</div>
{% endblock %}