{% extends "base.html"%}

{% block title %}vitaminer{% endblock %}

{% block navbar_submenu %}
<div class="navbar-submenu">
    <a href="#">Vitamin 1</a>
    <a href="#">Vitamin 2</a>
    <a href="#">Vitamin 3</a>
    <a href="#">Vitamin 4</a>
    <a href="#">Vitamin 5</a>
    <a href="#">Vitamin 6</a>
    <a href="#">Vitamin 7</a>
    <a href="#">Vitamin 8</a>
    <a href="#">Vitamin 9</a>
    <a href="#">Vitamin 10</a>
    <a href="#">Vitamin 11</a>
    <a href="#">Vitamin 12</a>
</div>
{% endblock %}

{% block content %}
<div class="route-container">
    <h1>Under Development!</h1>
</div>
{% endblock %}