{% extends "base.html"%} 
{% block title %}{{vitamin}}{% endblock %}

{% block navbar_submenu %}
<div class="navbar-submenu">
  {% for item in vitamins %}
  <a href="/vitaminer/{{ item }}"> {{ item }} </a>
  {% endfor %}
</div>
{% endblock %} 

{% block content %}
<main class="info-page-container">
  <!--reusing info-container class to have same styling-->
  <section class="info-section">
    <!--reusing home section class to have same styling-->
    <h1>{{vitamin}}</h1>

    <div class="info-container">
      <!--reusing info-container class to have same styling-->
      <h2>Coming soon!</h2>
      <p> Här kommer du kunna läsa mer info om {{vitamin}}.    
      </p>

      {% if vitamin != "Vitamin B12" %}
      <table>
        <thead>
          <th>Namn</th>
          <th>{{ top_10[0].unit }}</th>
        </thead>
        <tbody>
          {% for item in top_10 %}
          {% if item.vitamin_value > 0 %}
          <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.vitamin_value }} </td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>
  </section>

  
  
</main>
{% endblock %}
